<div>
    <mat-accordion multi="true">

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <b>Corporation Details</b>
            </mat-expansion-panel-header>
            <mat-card class="content-card" style="background-color: aliceblue;">
                <div class="row mt-3">
                    <div class="col-md-6"><b>Corporation Name:</b> {{myprofile.corporationName}} </div>
                    <div class="col-md-6"><b>Organization Unit Name: </b> {{myprofile.organizationName}} </div>
                </div>
            </mat-card>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <b>Address</b>
            </mat-expansion-panel-header>
            <mat-card class="content-card" style="background-color: aliceblue;">
                <div class="row">
                    <div class="col-md-6"><b>Address:</b> {{myprofile.address}} </div>
                    <div class="col-md-6"><b>Address Line 2:</b> {{myprofile.addressLine2}} </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><b>Address Line 3:</b> {{myprofile.addressLine3}} </div>
                    <div class="col-md-6"><b>City:</b> {{myprofile.csity}} </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><b>State/Province:</b> {{myprofile.state}} </div>
                    <div class="col-md-6"><b>Postal Code:</b> {{myprofile.postalCode}} </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><b>Country:</b> {{myprofile.country}} </div>
                    <div class="col-md-6"> </div>
                </div>
            </mat-card>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <b>Contact</b>
            </mat-expansion-panel-header>
            <mat-card class="content-card" style="background-color: aliceblue;">
                <div class="row">
                    <div class="col-md-6"><b>First Name:</b> {{myprofile.firstName}} </div>
                    <div class="col-md-6"><b>Last Name:</b> {{myprofile.lastName}} </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><b>E-Mail:</b> {{myprofile.email}} </div>
                    <div class="col-md-6"><b>Telephone:</b> {{myprofile.telephone}} </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><b>Fax :</b> {{myprofile.fax}} </div>
                    <div class="col-md-6"><b>Country:</b> {{myprofile.country}} </div>
                </div>
            </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <b>Channel Information</b>
            </mat-expansion-panel-header>
            <mat-card class="content-card" style="background-color: aliceblue;">
                <div class="row mt-3">
                    <div class="col-md-6"><b>Delivery Method:</b> {{myprofile.deliveryMethod}} </div>
                    <div class="col-md-6"><b>Endpoint:</b> {{myprofile.endpoint}} </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><b>port:</b> {{myprofile.port}} </div>
                    <div class="col-md-6"> </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><b>username:</b> {{myprofile.username}} </div>
                    <div class="col-md-6"><b>password:</b> *********** </div>
                </div>
            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</div>