html, body { height: auto;background-color: #fff !important }

.example-card {
    max-width: 50%;
    margin: auto;
  }

  .main-div{
    min-height: 100vh;
    /*background-color: cadetblue !important;*/
  }